bin/
lib/
node_modules/

.claude/
.codex/
.discussions/
.ttsc-cache/
.wiki/

packages/openapi
packages/*/*.tgz
packages/*/docs
packages/*/native/ttsc-*
packages/*/native/go.work.sum
packages/*/test/go.work
packages/*/test/go.work.sum
packages/*/README.md
!packages/factory/README.md
package-lock.json
*.log
.env
