{
  "openapi": "3.1.0",
  "info": {
    "title": "Atlas Cloud LLM API",
    "description": "OpenAI-compatible chat completions API for Atlas Cloud. See https://www.atlascloud.ai/?utm_source=github&utm_medium=link&utm_campaign=nestia and https://www.atlascloud.ai/docs/models/llm for the official documentation.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.atlascloud.ai/v1",
      "description": "Atlas Cloud OpenAI-compatible endpoint"
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "OpenAI-compatible LLM chat completions."
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "summary": "Create a chat completion",
        "description": "Generates a model response for the given conversation. Supports both streaming and non-streaming requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Non-streaming request",
                  "value": {
                    "model": "deepseek-ai/deepseek-v3.2",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Explain quantum computing in simple terms."
                      }
                    ],
                    "temperature": 0.7,
                    "max_tokens": 1024
                  }
                },
                "streaming": {
                  "summary": "Streaming request",
                  "value": {
                    "model": "deepseek-ai/deepseek-v3.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a short poem about AI."
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ]
          },
          "content": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier, for example deepseek-ai/deepseek-v3.2."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "top_p": {
            "type": "number"
          },
          "top_k": {
            "type": "integer"
          },
          "repetition_penalty": {
            "type": "number"
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "systemPrompt": {
            "type": "string"
          },
          "thinking": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionChoice": {
        "type": "object",
        "required": [
          "index",
          "message",
          "finish_reason"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage"
          },
          "finish_reason": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionUsage": {
        "type": "object",
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ],
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "CreateChatCompletionResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ChatCompletionUsage"
          }
        },
        "additionalProperties": true
      }
    }
  }
}
